@page
@model todoactivities.Pages.acivitiesModel
@{
}
<div>
    <h5>Activities</h5>
    <form>
        <h6>Add activity</h6>
        <label>Activity Name</label>
        <input type="text" />
        <label>Description</label>
        <input type="text" />
        <input type="button" />
    </form>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Operation</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Running
                </td>
                <td>
                    Running from the house to the bus station
                </td>
                <td>
                    <input type="button"/>
                    <input type="button" />
                    <input type="button" />
                </td>
            </tr>
        </tbody>
    </table>
</div>