@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="card">
        <div class="card-header">
            <h5 >Welcome to Activities portal</h5>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-left ml-0"> <i class="fas fa-plus"></i>Add activity</h6>
                    </div>
                    <div class="card-body">
                        <form class="form" runat="server">
                            <h1>Activities counter</h1>
                            <p>Counter: </p>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="activityInput">Activity Name</label>
                                            </div>
                                            <div class="col-md-9">
                                                 <input class="form-control" type="text" id="activityNameInput" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="descriptionInput">Description</label>
                                            </div>
                                            <div class="col-md-">
                                                <textarea class="form-control" rows="2" id="activityDescriptionInput"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="dateInput">Date</label>
                                            </div>
                                            <div class="col-md-10">
                                                <input type="date" class="form-control" rows="2" id="activityDateInput" />
                                            </div>
                                         </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="timeInput">Time</label>
                                            </div>
                                            <div class="col-md-10">
                                                <input type="time" class="form-control" rows="2" id="acivityTimeInput"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-success form-control mt-2" runat="server" onclick="AddActivity">
                                            <i class="fas fa-check"></i> Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-success">
                                <strong>Success!</strong> Your form has been submitted successfully.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Select</td>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Operation</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-check-label" type="checkbox" /></td>
                            <td>
                                Running now
                            </td>
                            <td>
                                Running from the house to the bus station
                            </td>
                            <td>
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-edit"></i> Edit
                                </button>
                                <button class="btn btn-danger" type="button">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
